@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,700;1,400&family=Dancing+Script:wght@600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #252b42;
  color: #fff;
}

#header-11 {
  width: 100%;
  height: auto;
}

.navbar {
  width: 100%;
  height: fit-content;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: #252b42;
}

.navbar h3 {
  width: fit-content;
  padding: 15px 100px 15px 0;
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 40px;
  font-family: "Bitter", serif;
  font-family: "Dancing Script", cursive;
}

.collaps-navbar {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  padding: 18px 0;
}

.navbar-nav li {
  text-decoration: none;
  list-style: none;
  padding: 17px 0;
}

.navbar-nav li:hover {
  text-decoration: underline;
}

.navbar-nav li a {
  padding: 0 15px;
  color: #fff;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  letter-spacing: 2px;
}

.navbar-login {
  padding-right: 50px;
}

.navbar-login span {
  cursor: pointer;
  font-size: 20px;
  padding-right: 20px;
}

.navbar-login span:hover {
  color: #b8dbe9;
}

.become-a-member {
  border-radius: 5px;
  padding: 15px;
  font-weight: 700;
  text-align: center;
  border: none;
  background: #23a6f0;
  color: #fff;
  cursor: pointer;
}

.become-a-member:hover {
  transform: translateY(3px);
  opacity: 0.9;
}

.navbar-login i {
  padding-left: 10px;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #343f4f;
}

h2 {
  color: #fff;
  padding: 10px 0;
  font-size: 40px;
}

.wrapper {
  display: flex;
  max-width: 650px;
  width: 100%;
  height: 400px;
  background: #fff;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 12px;
}

.wrapper i.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 36px;
  width: 36px;
  background-color: #343f4f;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  color: #fff;
  font-size: 15px;
  transition: all 0.3s linear;
  cursor: pointer;
  z-index: 100;
}

i.button:active {
  transform: scale(0.94) translateY(-50%);
}

i#prev {
  left: 25px;
}

i#next {
  right: 25px;
}

.image-container {
  height: 360px;
  max-width: 500px;
  width: 100%;
  overflow: hidden;
}

.image-container .carousel {
  display: flex;
  height: 100%;
  width: 95%;
  align-items: center;
  transition: all 0.4s ease;
}

.carousel img {
  border-radius: 18px;
  height: 100%;
  width: 100%;
  border: 10px solid #fff;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .navbar {
    width: 100%;
  }

  .navbar-login,
  .navbar-nav {
    display: none;
  }

  .navbar h3 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .wrapper {
    width: 90vw;
  }

  .image-container .carousel {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  .carousel img {
    margin-left: auto;
    margin-right: auto;
    border: none;
  }
}